.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
    
    Don't change the container width.
  */
  margin: 0 auto;  
  width: 720px;
}

header {
  background-color: black;
}

#logo {
  display: block;
  margin: 0 auto;
}

nav ul {
  margin: 20px -15px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  width: 110px;
  background: linear-gradient(whitesmoke, #CFCFCF);
  padding: 10px;
  text-align: center;
}

nav ul li:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

nav ul li:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a {

}